* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

main {
    max-width: 1140;

}


.section {
    text-align: right;
}

.header {
    position: right;
    width: 1600px;
    height: 808px;
    background-image: url('/images/banner/banner3.png');
}



.section-title {
    text-align: right;
    display: flex;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;

}

.title {
    margin-top: 50px;
}

.description {
    margin-top: 30px;
    margin-right: 20px;
}

.sub-title {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 50px;

}


.btn-primary {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 10px;
    color: #005FAC;
}


.flex {

    display: flex;
    align-items: center;
}

.div {
    position: right;
}

.plan .my {
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.container {
    justify-items: center;
    margin-top: 50px;
    background-image: url('../images/gradient3.png'), url('../images/watch.png');
    width: 1140px;
    height: 300px;
}

.midel {
    font-weight: 700;
    font-size: 40px;
}

.footer {
  margin-top: 50px;
    display: flex;
    width: 1600px;
    height: 577px;
    background-color: black;
}

.future {
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
}

.sub-future {
    font-weight: 400;
    font-size: 35px;
    margin-top: 10px;
}